{% extends "base.html" %} {% block content%}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-28 mx-auto max-w-screen-xl">
    <div>
      <h2 class="text-4xl font-extrabold dark:text-white">
        Convolutional Neural Network
      </h2>
      <p class="my-4 text-lg text-justify text-gray-500">
        A Convolutional Neural Network (CNN) is a Deep Learning algorithm that
        can take in an input image, assign importance (learnable weights and
        biases) to various aspects/objects in the image, and be able to
        differentiate one from the other. The pre-processing required in a
        ConvNet is much lower as compared to other classification algorithms.
        While in primitive methods filters are hand-engineered, with enough
        training, ConvNets have the ability to learn these
        filters/characteristics.
      </p>
    </div>
    <div>
      <h3 class="text-xl font-extrabold dark:text-white">
        Skin Cancer Identification
      </h3>
      <p class="my-2 text-lg text-justify text-gray-500">
        The <bold class="text-orange-700"> Angkasa Project</bold> there are
        currently 3 types of skin cancer identified including basal skin cancer,
        melanoma skin cancer, and vascular skin cancer with the addition of 1
        normal skin type. Each of the skin cancers that have been identified can
        be seen in the example image below.
      </p>
      <div class="flex items-center justify-center">
        <div class="px-2 text-center">
          <p class="my-2 text-md text-gray-500">Normal</p>
          <img
            class="max-w-xs h-aut rounded-lg shadow-lg"
            width="200px"
            height="200px"
            src="../static/images/normal.jpg"
            alt="image description"
          />
        </div>
        <div class="px-2 text-center">
          <p class="my-2 text-md text-gray-500">Basal</p>
          <img
            class="max-w-xs h-auto rounded-lg shadow-lg"
            width="200px"
            height="200px"
            src="../static/images/basal.jpg"
            alt="image description"
          />
        </div>
        <div class="px-2 text-center">
          <p class="my-2 text-md text-gray-500">Melanoma</p>
          <img
            class="max-w-xs h-auto rounded-lg shadow-lg"
            width="200px"
            height="200px"
            src="../static/images/melanoma.jpg"
            alt="image description"
          />
        </div>
        <div class="px-2 text-center">
          <p class="my-2 text-md text-gray-500">Vascular</p>
          <img
            class="max-w-xs h-auto rounded-lg shadow-lg"
            width="200px"
            height="200px"
            src="../static/images/vascular.jpg"
            alt="image description"
          />
        </div>
      </div>
      <p class="my-4 text-lg text-justify text-gray-500">
        Based on the example of the skin cancer image above. The
        <bold class="text-orange-700"> Angkasa Project</bold>
        carries out a classification process using the Convolutional Neural
        Network (CNN) deep learning method which is designed using the python
        programming language.
      </p>
    </div>
    <div class="mt-4 mb-4">
      <h3 class="text-xl font-extrabold dark:text-white">
        Skin Cancer Classification Tools
      </h3>
    </div>

    <form method="post" action="/cnn" enctype="multipart/form-data">
      <div class="max-w-2xl mx-auto">
        <input
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          aria-describedby="file_input_help"
          id="file_input"
          type="file"
          name="file"
          onchange="loadFile(event)"
          multiple
        />
      </div>

      <div class="max-w-2xl mx-auto mt-6">
        <div class="max-w-2xl mx-auto mt-4">
          <button
            type="submit"
            class="py-2 w-full inline-block mr-2 mb-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 disabled:bg-gray-200 disabled:hover:text-black"
            disabled
          >
            Predict
          </button>
        </div>
        <img
          class="rounded-lg shadow-xl dark:shadow-gray-800"
          src="{{ image }}"
          id="output"
          alt="image description"
          width="700px"
          height="200px"
          style="max-height: 300px"
        />
        <label
          class="text-center block mt-4 mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >The result will appear below</label
        >
        <div
          class="mt-2 py-2 p-4 mb-4 text-sm text-blue-700 bg-gray-100 rounded-lg dark:bg-gray-800 dark:text-blue-800"
          role="alert"
        >
          <p
            class="capitalize font-medium text-center text-gray-500 dark:text-gray-400"
          >
            - {{ predictions }} -
          </p>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}
