{% extends "base.html" %} {% block content%}
<div class="py-8 px-28 mx-auto max-w-screen-xl">
  <p class="text-gray-500 dark:text-gray-400">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque reiciendis
    aperiam dolores nihil modi itaque corrupti reprehenderit nobis incidunt,
    expedita, voluptates molestiae voluptatibus corporis possimus?
    Necessitatibus suscipit recusandae incidunt inventore, voluptatibus
    deserunt, natus ratione, pariatur error cupiditate corporis sequi ab
    architecto amet consectetur repellat itaque eum voluptatum voluptate.
    Repudiandae, delectus?
  </p>
  <blockquote
    class="p-4 my-4 bg-gray-50 border-l-4 border-gray-300 dark:border-gray-500 dark:bg-gray-800"
  >
    <p
      class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vitae
      dolores quae doloribus. Quaerat ab totam, necessitatibus exercitationem
      hic modi?
    </p>
  </blockquote>
  <p class="text-gray-500 dark:text-gray-400">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime,
    accusantium natus? Omnis dignissimos itaque laudantium obcaecati laborum eos
    saepe minima.
  </p>
</div>

{% endblock%}
